.conteiner{
    min-height: 300px;  /* ajuste conforme o conteúdo total */
    width: 250px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
}

.conteiner img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* faz o efeito de quando passar o mouse a imagem do filme dá um leve zoom */
.conteiner:hover img{
    transform: scale(1.05);
}

.conteiner h3{
    display: -webkit-box; 
    -webkit-line-clamp: 2;  /* máximo de 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins';
    line-height: 1.2;
    padding: 5px;
}

figure{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards por linha */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}
