.conteiner{
    width: 250px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
}

.conteiner img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* faz o efeito de zoom quando o mouse passa pela imagem */
.conteiner:hover img{
    transform: scale(1.05);
}

.conteiner h3{
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    padding: 5px;
}

figure{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards por linha */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

