footer{
    background-color: #658ec0; /* cor de fundo do footer */
}

/* configurações da escrita do footer */
span{
    font-family: 'Poppins';
    font-size: 18px;
    display: flex;
    justify-content: center;
}
