.modalback{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /*profundidade*/
}

/* container do modal -> exibe todas as infos*/
.modalConteiner{
    background-color: rgb(246, 255, 248);
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    max-width: 90%;
    max-height: 95%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.ModalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.ModalHeader h2{
    color: #000000;
    text-align: center;
    flex-grow: 1;
    padding: 10px;
}

.imgModal{
    width: 40%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}

.imgDetails{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.imgDetails li{
    font-family: 'Poppins';
    margin: 5px 0;
}

.imgDetails ul{
    display: flex;
    justify-content: center;
}

.imgDetails p{
    font-family: 'Poppins';
    font-size: 15px;
    text-align: justify;
}

button {
    width: 30px;
    height: 30px;
    position: absolute; /* posiciona livremente */
    top: 15px;  /* distância do topo */
    right: 15px;  /* distância da direita */
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;  /* profundidade */
  }
  

